.image-container_tovar {
    position: relative;
    
        transform-style: preserve-3d;
        transition: transform 0.6s;
    
}
.pt-6{
    padding-top: 5.5rem !important;
}
.pb-6{
    padding-bottom: 5.5rem !important;
}
.mb-6{
    margin-bottom: 5.5rem !important;
}
.mt-6{
    margin-top: 5.5rem !important;
}
.ptH-3{
    padding-top: 1.40rem !important;
}
body, html {
    height: 100vh;
    margin: 0;
    background-color: #759389;
    object-fit: cover;
    background-size: cover;
}
.bg_dark{
    background-color: #759389;

}
.olve-btn{
    color: #2f3c35!important;
    background-color: #bdc6b5!important;
}

.text-white{
    --bs-text-opacity: 1;
    color: #212529!important;
}
.wallpaper{    
    background-color: #ffffffab;
    color: black;
}
#searchField{
    width: 90%;
}
.flavor-list {
    transform: scaleX(-1);
    display: none; /* Скрываем список вкусов по умолчанию */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Прозрачный фон для списка */
    color: #000;
    padding: 10px;
    overflow-y: auto;
}

.image-container_tovar:hover .flavor-list {
    display: block; /* Показываем список вкусов при наведении */
}
.image-container_tovar:hover{
   transform: rotateY(180deg); 
}

.flavor-list ul {
    list-style-type: none;
    padding: 0;
}

.flavor-list li {
    margin: 5px 0;
}
.card_rounded{
    border-radius: 1.25rem !important;
}
.rounded_header{
    width: 90%;
    border-bottom-right-radius: 1.25rem;
    z-index: 122;
    border-bottom-left-radius: 1.25rem;
    font-family: Comfortaa, sans-serif;
}
p{
    font-weight: bold; 
}
h1, h2, h3, h4, h5, p, a, button, input{
    font-family: Comfortaa, sans-serif;
}
.title{
    font-size: calc(0.7rem + 1vw) !important;
    color: #2f3c35;
}
.rounded_footer{
    width: 90%;
    border-top-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
}
.bg_btn{
    font-family: Comfortaa, sans-serif;
}
.back_Btn {
    position: relative;
    
    overflow: hidden; /* Чтобы скрыть части линий за пределами кнопки */
    animation: borderMove 5s linear infinite; /* Удлиненная анимация для бордера */

}
.bb2 {

    font-weight: bold; /* Сделать текст жирным */
}





.back_Btn::before {
    top: 0;
    left: 100%; /* Начальная позиция за пределами кнопки с правой стороны */
    animation-delay: 0s; /* Первая линия начинает движение сразу */
}

.back_Btn .line1 {
    top: 0px;
    left: 100%; /* Начальная позиция за пределами кнопки с правой стороны */
    animation-delay: 0.5s; /* Линия появляется через 0.5s */
}

.olive-card{
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.356);
    background-color: #b3c8c069!important;
    border: 0;
    /*animation: borderMoveCard 5s linear infinite; /* Удлиненная анимация для бордера */
}

@keyframes borderMoveCard {
    0%, 100% {
        box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.575);
    }
    25% {
        box-shadow: 15px 0 15px 0px rgba(255, 255, 255, 0.575);
    }
    50% {
        box-shadow: 0 15px 15px 0px rgba(255, 255, 255, 0.575);
    }
    75% {
        box-shadow: -15px 0 15px 0px rgba(255, 255, 255, 0.575);
    }
}

@keyframes borderMove {
    0%, 100% {
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
    }
    25% {
        box-shadow: 10px 0 10px 0px rgba(0, 0, 0, 0.5);
    }
    50% {
        box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.5);
    }
    75% {
        box-shadow: -10px 0 10px 0px rgba(0, 0, 0, 0.5);
    }
}

@keyframes lineMove {
    0% {
        left: -100%; /* Линия начинается справа */
    }
    50% {
        left: 50%; /* Линия движется влево, приближаясь к центру кнопки */
    }
    100% {
        left: 100%; /* Линия выходит за пределы кнопки слева */
    }
    50% {
        left: 100%; /* Линия начинается справа */
    }

    100% {
        left: -100%; /* Линия выходит за пределы кнопки слева */
    }
}

.back_Btn:active {
    animation: none; /* Останавливаем постоянную анимацию */
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.8);
}


  
  
  
  
  @keyframes gradientMove {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 400% 400%;
    }
  }
  
#scrollToTopBtn {
    transition: right 0.7s ease, visibility 0.7s ease; /* Плавная анимация для перемещения кнопки */
    position: fixed;
    bottom: 20px;  /* Расположение кнопки */
    right: -80px;  /* Скрыта слева */
    visibility: hidden; /* Скрыта по умолчанию */
}

#scrollToTopBtn.show {
    right: 0px; /* Когда показываем, кнопка появляется справа */
    visibility: visible; /* Показываем элемент */
}
#scrollToTopBtn.hide {
    right: -70px; /* Когда скрываем кнопку, она уходит в правый край */
    visibility: hidden; /* Делаем кнопку невидимой */
}
#loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    flex-direction: column;
}

.circle-spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    border: 4px solid #3498db;
    border-top: 4px solid transparent; /* делаем верхнюю часть прозрачной */
    animation: rotate 1.5s linear infinite;
}

/* .spinner-bar {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 4px;
    background-color: #3498db;
    transform-origin: 100%;
    animation: grow 1.5s linear infinite;
} */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* @keyframes grow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */
@media (max-height: 650px) {
    .main-footer {
        display: none;
    }
}

